<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>ja_JP</string>
	<key>CFBundleDisplayName</key>
	<string>MUSUBOU-AR</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.58994390067-nm49a5nsa0aobbarufiu0pveqtac67ll</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>3</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>MGLMapboxAccessToken</key>
	<string>pk.eyJ1IjoidGgtbmd1eWVuIiwiYSI6ImNrcnpvcjE2aTFjNXUyb244amVlZmFpcDAifQ.bhLVPCGZCM4Gb372F1wjxA</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>NSExceptionAllowsInsecureHTTPLoads</key>
			<true/>
			<key>dmis4owgs.info</key>
			<dict>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>gisws.media.osaka-cu.ac.jp</key>
			<dict>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>stamen-tiles.a.ssl.fastly.net</key>
			<dict>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>www.youtube.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>本アプリでは、周辺の防災施設や災害情報をAR表示するためにカメラを使用します</string>
	<key>NSHealthClinicalHealthRecordsShareUsageDescription</key>
	<string>HealthKitを活用し、Apple Watchで計測する生体情報（心拍数など）や行動情報（移動軌跡など）を収集し、自身のアクティビティを可視化することができます。この機能により、自身の体力の把握や、まち歩きのモチベーション向上につなげる目的があります</string>
	<key>NSHealthShareUsageDescription</key>
	<string>HealthKitを活用し、Apple Watchで計測する生体情報（心拍数など）や行動情報（移動軌跡など）を収集し、自身のアクティビティを可視化することができます。この機能により、自身の体力の把握や、まち歩きのモチベーション向上につなげる目的があります</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>HealthKitを活用し、Apple Watchで計測する生体情報（心拍数など）や行動情報（移動軌跡など）を収集し、自身のアクティビティを可視化することができます。この機能により、自身の体力の把握や、まち歩きのモチベーション向上につなげる目的があります</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>ユーザーの位置をマップ上に表示します</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>常に許可</string>
	<key>NSLocationUsageDescription</key>
	<string>ユーザーの位置をマップ上に表示します</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>ユーザーの位置をマップ上に表示します</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportsDocumentBrowser</key>
	<true/>
</dict>
</plist>
